//== Step 2: UI Customization

// == Extra variables

$brand-secondary:                                   #B2459D;
$border-radius-small:                               2px;
$border-radius-medium:                              6px;
$border-radius-large:                               12px;
$box-shadow:                                        6px 6px 12px rgba(0,0,0,0.26);